body {
  background: #f4f4f4 url(../images/dots.png);
}
aside {
  -webkit-box-shadow: 0 0 20px #676767;
  background: #323232;
  height: 100%;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 210px;
}
aside h2 {
  color: #e2e2e2;
  cursor: default;
  font-size: 18px;
  font-weight: normal;
  margin: 0 10px 0 5px;
  padding: 5px 10px;
  text-align: left;
}
aside .toolbox {
  clear: both;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 5px 0 0 10px;
}
aside .toolbox li {
  background-color: #2b2b2b;
  border-radius: 5px;
  display: block;
  float: left;
  font-size: 12px;
  height: 50px;
  list-style: none;
  margin: 4px;
  text-indent: -9999px;
  width: 75px;
}
aside .toolbox li span {
  color: #303030;
  cursor: default;
  cursor: move;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 10px;
}
aside .toolbox .checkbox {
  background-image: url(../images/toolbox/builder_component_checkbox.png);
}
aside .toolbox .radio {
  background-image: url(../images/toolbox/builder_component_radio.png);
}
aside .toolbox .text_input {
  background-image: url(../images/toolbox/builder_component_text_input.png);
}
aside .toolbox .image {
  background-image: url(../images/toolbox/builder_component_image.png);
}
aside .toolbox .link {
  background-image: url(../images/toolbox/builder_component_link.png);
}
aside .toolbox .slider {
  background-image: url(../images/toolbox/builder_component_slider.png);
}
aside .toolbox .submit {
  background-image: url(../images/toolbox/builder_component_submit.png);
}
aside .toolbox .text_area {
  background-image: url(../images/toolbox/builder_component_text_area.png);
}
aside .toolbox .toggle {
  background-image: url(../images/toolbox/builder_component_toggle.png);
}
aside .toolbox .video {
  background-image: url(../images/toolbox/builder_component_video.png);
}
aside .toolbox .heading {
  background-image: url(../images/toolbox/builder_component_heading.png);
}
aside .toolbox .html {
  background-image: url(../images/toolbox/builder_component_html.png);
}
aside .toolbox .range_gauge {
  background-image: url(../images/toolbox/builder_component_range_gauge.png);
}
aside .toolbox .range_indicator {
  background-image: url(../images/toolbox/builder_component_range_indicator.png);
}
article {
  -webkit-box-shadow: 0 0 10px #bebebe;
  background: #ffffff url(../images/paper.png);
  border: 1px solid #d1d1d1;
  height: 600px;
  margin: 95px 0 50px 260px;
  width: 600px;
}
header {
  left: 250px;
  position: absolute;
  top: 14px;
  width: 400px;
}
header h1 {
  color: #5e5e5e;
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}
nav {
  position: absolute;
  right: 120px;
  top: 28px;
  width: 550px;
  z-index: 999;
}
nav section {
  background-color: #e8e8e8;
  border: 3px solid #505050;
  display: none;
  margin-top: 33px;
  position: absolute;
  width: 500px;
}
nav section h3 {
  color: #414141;
  margin: 0;
  padding: 7px 15px 0;
}
nav ul {
  margin: 0;
  width: 100%;
}
nav ul li {
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: #4a4a4a;
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul li a.destroy {
  float: right;
  margin-right: 10px;
}
nav form {
  padding: 15px;
}
nav form label {
  display: block;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 2px;
}
nav form input {
  padding: 5px;
  width: 92%;
}
nav .import-export {
  margin-right: 10px;
  width: 150px;
}
nav .properties {
  margin-right: 10px;
  width: 120px;
}
nav #document-properties {
  overflow: hidden;
}
nav .width {
  float: left;
  margin-top: 20px;
  width: 48%;
}
nav .height {
  float: left;
  margin-top: 20px;
  width: 48%;
}
nav #save {
  background-color: #494949;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  padding: 5px;
  width: 100px;
}
nav #import {
  background-color: #494949;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  padding: 5px;
  width: 100px;
}
nav .export-image {
  background-color: #494949;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  padding: 5px;
  width: 100px;
}
nav > a {
  background-color: #ebebeb;
  color: #585858;
  cursor: pointer;
  float: right;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  width: 170px;
}
nav > a:hover {
  background-color: #fee38d;
}
footer {
  background-color: white;
  border-top: 10px solid #393939;
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
}
footer form {
  padding-left: 4px;
}
footer form .line {
  float: left;
  margin-left: 2px;
  margin-right: 30px;
  padding-bottom: 20px;
  width: 120px;
}
footer form input {
  outline: none;
  padding: 2px 4px;
  width: 100%;
}
footer form label {
  color: #484848;
}
footer h2 {
  color: gray;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 4px;
}
footer .line.tools {
  float: right;
  font-size: 18px;
  margin-top: -35px;
  text-align: right;
}
footer a {
  background-color: #525252;
  color: white;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 3px;
  padding: 3px 8px;
  text-decoration: none;
}
footer a:hover {
  background-color: #383838;
  color: white;
}
footer > * {
  margin-left: 238px;
  width: 930px;
}
.object {
  cursor: move;
  outline: none;
  position: absolute !important;
}
.object input {
  background-color: transparent;
  border: none;
  cursor: text;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
.object .button {
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 3px solid #383838;
  color: #383838;
  font-weight: normal;
  padding: 2px 5px;
  text-align: center;
}
.object .button input {
  text-align: center;
}
.object .checkbox {
  background-color: #e8e8e8;
  border-radius: 20%;
  border: 3px solid #383838;
  height: 20px;
  width: 20px;
}
.object .checkbox.checked:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: transparent;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  content: '';
  height: 5px;
  left: 6px;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 11px;
}
.object .checkbox ~ span {
  font-weight: bold;
  margin-left: 34px;
  margin-top: -23px;
  min-width: 200px;
  position: absolute;
}
.object .radio {
  background-color: #e8e8e8;
  border-radius: 50%;
  border: 3px solid #383838;
  height: 20px;
  width: 20px;
}
.object .radio.checked:after {
  background-color: #5a5a5a;
  border-radius: 50%;
  content: "";
  height: 45%;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 45%;
}
.object .radio ~ span {
  font-weight: bold;
  margin-left: 32px;
  margin-top: -23px;
  min-width: 200px;
  position: absolute;
}
.object .text-input {
  height: 100%;
}
.object .text-input label {
  color: #383838;
  cursor: move;
  font-size: 17px;
  font-weight: bold;
}
.object .text-input .input {
  background-color: #e8e8e8;
  border: 3px solid #383838;
  height: 100%;
  width: 100%;
}
.object table {
  background-color: #e8e8e8;
  border: 3px solid #383838;
  width: 100%;
}
.object table td {
  border: 1px solid #a2a2a2;
  padding: 5px 10px;
}
.object table th {
  background-color: #383838;
  color: white;
  padding: 3px 5px;
  text-align: center;
}
.object table th input {
  background-color: #383838;
  color: white;
  padding: 3px 5px;
  text-align: center;
}
.object table input {
  width: 95%;
}
.object .combobox {
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 3px solid #383838;
  min-width: 120px;
  overflow: hidden;
  width: 100%;
}
.object .combobox .text {
  float: left;
  padding: 3px 5px 3px;
  width: 70%;
}
.object .combobox .opener {
  border-color: #383838 transparent transparent transparent;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  height: 0;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 11px;
  width: 0;
}
.object .hscrollbar {
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 3px solid #383838;
  height: 30px;
  min-width: 120px;
  overflow: hidden;
  width: 100%;
}
.object .hscrollbar .trough {
  background-color: black;
  height: 100%;
  width: 30px;
}
.object .hscrollbar .left {
  border-color: transparent #383838 transparent transparent;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  height: 0;
  left: 5px;
  position: absolute;
  text-indent: -9999px;
  top: 11px;
  width: 0;
}
.object .hscrollbar .right {
  border-color: transparent transparent transparent #383838;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  height: 0;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 11px;
  width: 0;
}
.object .progressbar {
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 3px solid #383838;
  height: 30px;
  min-width: 120px;
  width: 100%;
}
.object .progressbar .bar {
  background-color: black;
  height: 100%;
  width: 50%;
}
.object .browser {
  background-color: #e8e8e8;
  border-collapse: collapse;
  border: 3px solid #383838;
  color: #383838;
  display: table;
  height: 100%;
  width: 100%;
}
.object .browser .top {
  display: table-row;
  text-align: center;
}
.object .browser .url {
  border-radius: 5px;
  border: 3px solid #383838;
  font-weight: normal;
  margin: 0 auto 5px;
  padding: 2px 5px;
  text-align: left;
  width: 60%;
}
.object .browser .page-content {
  border: 3px solid #383838;
  display: table-row;
  height: 100%;
}
.object .browser .page-content:before {
  content: " ";
}
.object fieldset {
  background-color: #e8e8e8;
  border: 3px solid #383838;
  height: 100%;
  width: 100%;
}
.object fieldset legend {
  margin: 0 0 0 20px;
}
.object fieldset .content {
  height: 100%;
}
.object fieldset .content:before {
  content: " ";
}
.object .heading {
  margin: 0;
}
.object .paragraph {
  width: 100%;
}
.object .paragraph p {
  margin: 0;
  padding: 5px;
}
.object .image {
  background-color: white;
  border: 2px solid #dedede;
}
.object .shape {
  border-radius: 0;
  border: 3px solid #383838;
  height: 100%;
  width: 100%;
}
.object:focus .ui-resizable-handle {
  visibility: visible;
}
.object.preview {
  z-index: 1;
}
.object.preview .heading {
  width: 400px;
}
.object.preview table {
  width: 250px;
}
.object.preview .paragraph {
  width: 300px;
}
.object.circle .shape {
  border-radius: 50%;
}
.ui-resizable-handle {
  background-color: orange;
  border-radius: 50%;
  bottom: -4px;
  height: 10px;
  right: -4px;
  visibility: hidden;
  width: 10px;
}
.shape ~ .ui-resizable-handle {
  bottom: -5px;
  right: -5px;
}
.text-input ~ .ui-resizable-handle {
  bottom: -35px;
  right: -9px;
}
#social {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 60px;
}
#id_models {
  width: 100%;
}
#tag-select select {
  width: 210px;
}
#tag-select #controllers {
  float: left;
}
#tag-select #tags {
  float: left;
}
