
<script type="text/html" id="navigation-item-template">
    <a class="show" href="#document/<%= id %>"><%= title %></a>
    <a class="destroy" href="#">Delete</a>
</script>

<script type="text/html" id="property-form-template">
<% for (var attribute in attributes) { %>
    <% if (!attributes[attribute].hidden) { %>
    <div class="line <%= attributes[attribute].type %>">
    <label for="id_<%= attributes[attribute].name %>"><%= attributes[attribute].name %></label>

    <% if (attributes[attribute].type == "boolean") { %>
        <input type="checkbox" id="id_<%= attributes[attribute].name %>"
            name="<%= attributes[attribute].name %>"
            <% if (attributes[attribute].value) { %> checked="checked" <% } %> />
    <% } else if (attributes[attribute].type == "tagselect") { %>
        <br/>
        <a id="id_<%= attributes[attribute].name %>" name="<%= attributes[attribute].name %>" href="#">
            Select Tag
        </a>
    <% } else { %>
        <input type="text" id="id_<%= attributes[attribute].name %>"
            name="<%= attributes[attribute].name %>"
            value="<%= attributes[attribute].value %>" />
    <% } %>
    </div>
    <% } %>
<% } %>
    <div class="line tools">
    <a class="send-to-back" href="#">send to back</a>
    <a class="bring-to-front" href="#">bring to front</a>
    <a class="delete" href="#">delete</a>
    </div>
</script>

<script type="text/html" id="button-template">
        <div class="button" data-attribute="text"><%= text %></div>
</script>

<script type="text/html" id="checkbox-template">
    <div class="checkbox <%= checked ? 'checked' : '' %>"></div>
    <span data-attribute="text"><%= text %></span>
</script>

<script type="text/html" id="radio-template">
    <div class="radio <%= checked ? 'checked' : '' %>"></div>
    <span data-attribute="text"><%= text %></span>
</script>

<script type="text/html" id="text-template">
    <div class="text-input">
    <% if (label) { %>
    <label data-attribute="text"><%= text %></label>
    <% } %>
    <div class="input"></div>
    </div>
</script>

<script type="text/html" id="heading-template">
    <h1 class="heading" data-attribute="text" style="font-size: <%= size %>px; color: <%= color %>"><%= text %></h1>
</script>

<script type="text/html" id="paragraph-template">
    <div class="paragraph" style="background-color: <%= background %>">
        <p data-attribute="text"><%= text %></p>
    </div>
</script>

<script type="text/html" id="label-template">
    <strong data-attribute="text" style="color: <%= color %>; font-size: <%= size %>px;"><%= text %></strong>
</script>

<script type="text/html" id="combobox-template">
    <div class="combobox">
        <span class="text" data-attribute="text"><%= text %></span>
        <span class="opener"></span>
    </div>
</script>

<script type="text/html" id="hscrollbar-template">
    <div class="hscrollbar">
        <div class="trough" data-attribute="text" style="margin-left: <%= value %>%;">
        <span class="left"></span>
        <span class="right"></span>
        </div>
    </div>
</script>

<script type="text/html" id="progressbar-template">
    <div class="progressbar" data-attribute="text">
    <div class="bar" style="width: <%= percent %>%;"></div>
    </div>
</script>

<script type="text/html" id="browser-template">
    <div class="browser">
        <div class="top">
            <%= title %>
            <div class="url" data-attribute="text"><%= url %></div>
        </div>
        <div class="page-content"></div>
    </div>
</script>

<script type="text/html" id="table-template">
    <table>
        <% if (header) { %>
        <thead>
        <tr>
            <% for (var col=0; col < columns; col++ ) { %>
            <th>
            <input type="text" data-row="<%= 0 %>" data-column="<%= col %>" value="<%=  values[0] ? values[0][col] : ''  %>" />
            </th>
            <% } %>
        </tr>
        </thead>
    <% } %>
    <tbody>
        <% for (var i=header ? 1 : 0; i < rows; i++ ) { %>
            <tr>
                <% for (var j=0; j < columns; j++ ) { %>
                    <td>
                        <input type="text" data-row="<%= i %>" data-column="<%= j %>" value="<%=  values[i] ? values[i][j] : ''  %>" />
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    </table>
</script>

<script type="text/html" id="image-template">
    <svg class="image" xmlns="http://www.w3.org/2000/svg" version='1.1'
            style=" width:100%; height:100%;" preserveAspectRatio="none" viewBox="0 0 100 100">
        <line vector-effect="non-scaling-stroke" fill="none" stroke="#dedede" stroke-width="2" x1="0" y1="100" x2="100" y2="0"></line>
        <line vector-effect="non-scaling-stroke" fill="none" stroke="#dedede" stroke-width="2" x1="0" y1="0" x2="100" y2="100"></line>
    </svg>
</script>

<script type="text/html" id="groupbox-template">
    <fieldset>
        <legend><%= title %></legend>
        <div class="content"></div>
    </fieldset>
</script>

<script type="text/html" id="shape-template">
    <div class="shape" style="background-color: <%= color %>; <%= border ? '' : 'border:none' %>"></div>
</script>

<script type="text/html" id="range-gauge">
    <div class="shape" style="border:none;">
        <img src="media/images/toolbox/range_gauge.png" />
    </div>
</script>

<script type="text/html" id="range-indicator">
    <div class="shape" style="background-color: <%= color %>; border:none;">
        <img src="media/images/toolbox/range_indicator.png" />
    </div>
</script>
